<div class="row-fluid">
  <div class="span6">
    <%= f.input :title, input_html: { class: "span12" } %>
    <%= f.input :description, as: :text, input_html: { class: "span12" } %>
  </div>
  <div class="span6">
    <%= f.association :issue_type %>
    <%= f.association :user %>
  </div>
</div>
<%= f.input :client_id, as: :hidden, input_html: { value: @client_id } %>
<%= f.input :project_id, as: :hidden, input_html: { value: params[:project_id] } %>

<div class="row-fluid">
  <div class="span6">
    <%= f.button :submit %>
  </div>
</div>
